@font-face {
    font-family: distproth;
    src: url(http://mathweb.ucdenver.edu/~mvejmelka/fonts/DistProTh.otf) format('opentype');
}

body, p, input {
  font-family: distproth;
  font-size: 16px;
}

h1 {
  text-align: center;
  font-family: distproth;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

h2 {
  text-align: center;
  font-family: distproth;
  font-size: 24px;
  margin-bottom: 10px;
  margin-top: 10px;
}

p {
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

#sysmsg {
  font-size:14px;
  margin-left:20px;
  margin-right:20px;
  width:410px;
  height:240px
}

#kml-slider {
  margin: 5px 20px 10px 20px;
}

#comp-progress {
  margin: 5px 20px 10px 20px;
  height: 20px;
}

label.mon-info {
  margin-left:20px;
  display:inline-block;
  width:8em;
  padding-right:20px;
  text-align:right;
  margin-bottom:20px;
}

input.mon-info {
  width:190px;
  text-align:right;
  margin-left:auto;
  margin-right:20px;
  margin-bottom:20px;
}


